.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    /* font-size: small; */
    padding: 2em 4em;
}

.footBrand{
    font-size: 25px;
    font-weight: 600;
}

.linksF{
    display: flex;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width:550px){
    .footer{
        grid-template-columns: 1fr;
        justify-items: left;
    }
}