.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

.navbar p{
    font-size: 35px;
    font-weight: 600;
}

.navLinks{
    color: white;
    font-size: 15px;
    padding-right: 3em;
    text-decoration: none;
}
 
.active{
    color: #D434FE;
}

.navLinks:hover{
    color: #D434FE;
}

.navLinks:checked{
    color: #903AFF;
}

.navButton{
    padding: 10px 3em;
    font-size: 15px;
    color: white;
    background: linear-gradient( to right, #D434FE, #903AFF);
    border: 1px solid #903AFF;
    border-radius: 4px;
}

.navbar-toggle{
    display: none;
    cursor: pointer;
}

.navbar-icon{
    width: 30PX;
    height: 20PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 850px){
    .navbar-links ul{
        display: none;
    }

    .navbar.active .navbar-links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
    }
    
    .navbar-toggle{
        display: block;
    }
}

@media (max-width: 450px){
    .navbar p{
        font-size: 25px;
        font-weight: 600;
    }
    
}