.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3em;
}

.navbar p{
    font-size: 35px;
    font-weight: 600;
}

.navLinks{
    color: white;
    font-size: 15px;
    padding-right: 3em;
    text-decoration: none;
}

.active{
    color: #D434FE;
}

.navLinks:hover{
    color: #D434FE;
}

.navLinks:checked{
    color: #903AFF;
}

.navButton{
    padding: 10px 3em;
    font-size: 15px;
    color: white;
    background: linear-gradient( to right, #D434FE, #903AFF);
    border: 1px solid #903AFF;
    border-radius: 4px;
}

.navButton:hover{
    background-color: yellow;
}

.mobile-menu-button{
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 850px){
    /* .myNavLinks ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 80px;
        left: 0;
        text-align: left;
    } */

    /* .myNavLinks .navLinks{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    } */

    .myNavLinks ul{
        display: none;
    }

    .mobile-menu-button{
        display: block;
    }
}

@media (max-width: 450px){
    .navbar p{
        font-size: 25px;
        font-weight: 600;
    }
    
}