.registerHere{
    background-color: #150E28;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 200vh;
}

.registerMe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center; */
    padding: 0.5em 3em;
}

.letsRegister{
    width: 100%;
}

.firstLeadText{
    font-size: 2.5em;
    font-weight:600;
    color: #D434FE;
}

.secondLeadText{
    font-size: smaller;
    font-style: italic;
    color: #903AFF;
}

.thirdLeadText{
    font-weight: 600;
}

.firstFormDiv{
    display:flex ;
    align-items: center;
    gap: 20px;
    padding-top: 18px;
    row-gap: 40px;
}

.firstFormDiv input{
    margin-top: 10px;
    padding: 0.7em;
    width: 30vh;
    background-color: transparent;
    border: 1px solid white;
}

.regisBtn{
    padding: 10px 2em;
    width: 75%;
    margin-top: 1em;
    font-size: 15px;
    color: white;
    background: linear-gradient( to right, #D434FE, #903AFF);
    border: 1px solid #903AFF;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regReview{
    font-size: smaller;
    font-style: italic;
    color: #D434FE;
}

.regSpan{
    font-size: smaller ;
}

@media (max-width:850px){
    .registerMe{
        grid-template-columns: 1fr;
    }

    .regImg img{
        height: 300px;
        max-width: 100%;
    }

    .letsRegister{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstLeadText{
        display: none;
    }
    
    .thirdLeadText{
        font-size: large;
        font-weight: 600;
    }

    .firstFormDiv{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:570px){
    .regImg img{
        height: 250px;
    }

    .firstFormDiv input{
        width: 100%;
    }
    
    .regReview{
        font-size: x-small;
    }

    .regSpan{
        font-size: x-small;
    }
}

@media (max-width:350px){
    .regImg img{
        height: 200px;
    }
}

@media (max-width:250px){
    .regImg img{
        height: 150px;
    }
}
/* 
@media (orientation: landscape){
    .letsRegister{
        height: 100vh;
    }
} */